body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #344aaa;
    padding: 30px;
}

section {
    background-color: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    margin: 5px;
}

#contador {
    font-size: 40px;
    font-weight: bold;
}